<div class="row">
  <div class="col-sm-4">
    <h1><%= t "admin.adminpage" %></h1>
    <p><%= link_to t("users.user"), admin_users_path %></p>
    <p><%= link_to t("players"), admin_players_path %></p>
    <p><%= link_to t("club.clubs"), admin_clubs_path %></p>
    <p><%= link_to t("score.score"), admin_scores_path %></p>
    <p><%= link_to t("matchs"), admin_matches_path %></p>
    <p><%= link_to t("rates"), admin_rates_path %></p>
    <p><%= link_to t("new"), admin_news_index_path %></p>
    <p><%= link_to t("category_new"), admin_category_news_index_path %></p>
    <p><%= link_to t("category_match"), admin_category_match_rates_path %></p>
  </div>
</div>
