<div class="sidebar content-box" style="display: block;">
  <ul class="nav">
    <li><%= link_to t("users.user"), admin_users_path %></li>
    <li><%= link_to t("new"), admin_news_index_path %></li>
    <li><%= link_to t("players"), admin_players_path %></li>
    <li><%= link_to t("club.clubs"), admin_clubs_path %></li>
    <li><%= link_to t("score.score"), admin_scores_path %></li>
    <li><%= link_to t("matchs"), admin_matches_path %></li>
    <li><%= link_to t("category_match"), admin_category_match_rates_path %></li>
    <li><%= link_to t("rates"), admin_rates_path %></li>
    <li><%= link_to t("category_new"), admin_category_news_index_path %></li>
    <li><%= link_to t("bet"), "#" %></li>
  </ul>
</div>
